<header class="header">
  <div class="mobile-menu">
    <button class="close-button">
      <svg
        class="menu-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <use href="../svg/symbol-defs.svg#icon-close-button"></use>
      </svg>
    </button>
    <input type="checkbox" class="toggle" id="toggle" />
    <label for="toggle" class="toggle-label"></label>
  </div>
  <nav>
    <a>Home</a>
    <a>Favorites</a>
  </nav>
  <div class="logo">
    <a>
      <p><span>tasty</span>treats</p>
    </a>
  </div>
  <div class="icons-area">
    <button class="basket-button">
      <svg
        class="basket-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <use href="../svg/symbol-defs.svg#icon-basket"></use>
      </svg>
    </button>
    <button class="basket-button">
      <svg
        class="basket-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <use href="../svg/symbol-defs.svg#icon-hamburger-menu"></use>
      </svg>
    </button>
  </div>
</header>
