<div class="container">
  <div class="home-hero-container">
    <div class="home-header-area">
      <h1>
        Learn to Cook
        <span
          >Tasty <br />
          Treats'</span
        >
        Customizable Masterclass
      </h1>
      <h4>
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </h4>
      <button class="primary-button order-now-button">Order now</button>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-container">
          <img class="first-image" src="../img/person-1.png" />
          <img class="secondary-image" src="../img/plate-food-1.png" />
          <p class="main-image-text">
            Grilled, smoky, delicious <br />
            barbecue
          </p>
          <span class="secondary-image-text">Spanish </span>
          <img class="third-image" src="../img/whole-food-1.png" />
        </div>
        <div class="swiper-slide slide-container">
          <img class="first-image" src="../img/person-2.png" />
          <p class="main-image-text second-main-image-text">
            Hot, cheesy and <br />
            satisfying pizza
          </p>
          <span class="secondary-image-text">Italian </span>
          <img class="secondary-image" src="../img/plate-food-2.png" />
          <img class="third-image" src="../img/whole-food-2.png" />
        </div>
        <div class="swiper-slide slide-container">
          <img class="first-image" src="../img/person-3.png" />
          <p class="main-image-text">Fluffy and sweet pancakes</p>
          <span class="secondary-image-text">American </span>
          <img class="secondary-image" src="../img/plate-food-3.png" />
          <img class="third-image" src="../img/whole-food-3.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="order-now">
      <h5>ORDER NOW</h5>
      <button class="close-button order-now-close-button">
        <svg
          class="menu-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <use href="../svg/symbol-defs.svg#icon-close-button"></use>
        </svg>
      </button>
      <label class="order-label">Name</label>
      <input type="text" class="order-input" />
      <label class="order-label">Phone number</label>
      <input type="text" class="order-input" />
      <label class="order-label">Email</label>
      <input type="text" class="order-input" />
      <label class="order-label">Comment</label>
      <textarea class="order-textarea order-input"></textarea>
      <button class="secondary-button order-button">Send</button>
    </div>
  </div>
</div>
<script type="module" src="./js/home-hero.js"></script>
