<div class="container">
  <div class="home-hero-container">
    <div class="home-header-area">
      <h1>
        Learn to Cook
        <span
          >Tasty <br />
          Treats'</span
        >
        Customizable Masterclass
      </h1>
      <h4>
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </h4>
      <button class="primary-button order-now-button">Order now</button>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-container">
          <img src="../img/person-1.png" />
          <img src="../img/plate-food-1.png" />
          <img src="../img/whole-food-1.png" />
        </div>
        <div class="swiper-slide slide-container">
          <img src="../img/person-2.png" />
          <img src="../img/plate-food-2.png" />
          <img src="../img/whole-food-2.png" />
        </div>
        <div class="swiper-slide slide-container">
          <img src="../img/person-3.png" />
          <img src="../img/plate-food-3.png" />
          <img src="../img/whole-food-3.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<script type="module" src="./js/home-hero.js"></script>
