:root {
  font-family: 'Inter', sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --main-green: #9bb537;
  --main-black: #050505;
  --background-white: #f8f8f8;
  --background-dark: #161616;
  --input-border-color: rgba(5, 5, 5, 0.2);
  --input-border-hover-color: rgba(54, 54, 54, 0.3);
  --input-text-color: rgba(5, 5, 5, 0.5);
  --input-text-color-2: rgba(5, 5, 5, 0.8);
  --input-text-color-3: #f8f8f8;
  --input-text-color-4: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--background-white);
}
[data-theme='light'] {
  --main-green: #9bb537;
  --main-black: #050505;
  --background-white: #f8f8f8;
  --input-border-color: rgba(5, 5, 5, 0.2);

  --input-text-color: rgba(5, 5, 5, 0.5);
  --input-text-color-2: rgba(5, 5, 5, 0.8);
  --input-text-color-3: #f8f8f8;
  --input-text-color-4: #f8f8f8;
}
[data-theme='dark'] {
  --main-green: #9bb537;
  --main-black: #f8f8f8;
  --background-white: #050505;
  --input-border-color: rgba(255, 255, 255, 0.2);

  --input-text-color: rgba(255, 255, 255, 0.5);
  --input-text-color-2: rgba(255, 255, 255, 0.8);
  --input-text-color-3: rgba(255, 255, 255, 0.8);
  --input-text-color-4: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-weight: var(--fw-semibold);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--main-black);
}

h2 {
  font-weight: var(--fw-semibold);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--main-black);
}

h3 {
  font-weight: var(--fw-semibold);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--main-black);
}

h4 {
  font-weight: var(--fw-semibold);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--main-black);
}

.primary-button {
  background-color: var(--main-white);
  color: var(--main-black);
  padding: 14px 28px;
  border: none;
  border-radius: 5px;
  font-weight: var(--fw-semibold);
  cursor: pointer;
  border: 1px solid var(--main-green);
  border-radius: 15px;
}

.primary-button:hover {
  background-color: var(--main-green);
  color: var(--main-white);
  transition: all 0.3s ease-in-out;
}

.secondary-button {
  background-color: var(--main-green);
  color: var(--main-white);
  padding: 14px 28px;
  border: none;
  border-radius: 15px;
  font-weight: var(--fw-semibold);
  cursor: pointer;
}

.secondary-button:hover {
  color: var(--main-black);
  transition: all 0.3s ease-in-out;
}
