@media screen and (min-width: 320px) {
  .container {
    padding: 0px 20px;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-green);
    z-index: 2;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    display: none;
  }
  nav a {
    color: #f6f6f6;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: var(--fw-medium);
  }
  .nav-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    color: var(--background-white);
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    border: none;
    background: none;
    color: #f6f6f6;
    outline: none;
  }
  .toggle {
    display: none;
    border: none;
    background: none;
    width: 0;
    height: 0;
  }
  .toggle:checked + .toggle-label::after {
    left: 26px;
  }
  .toggle:checked + .toggle-label {
    background-color: var(--main-green);
  }
  .toggle-label {
    visibility: hidden;
    width: 46px;
    height: 20px;
    display: block;
    background: #cecdcd;
    border-radius: 200px;
  }
  .toggle-label::after {
    display: none;
    content: '';
    width: 19px;
    height: 19px;
    background-color: #f6f6f6;
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .logo {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-black);
  }
  .logo span {
    color: var(--main-green);
  }
  .basket-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }
  .basket-button svg {
    width: 24px;
    height: 24px;
    color: var(--main-black);
  }
  .toggle-label-show {
    display: block;
    visibility: visible;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }
  .toggle-label-show::after {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
  }
  .show {
    display: flex;
    visibility: visible;
  }
  .mobile-menu-color {
    background-color: #050505;
  }
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .logo {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 1.2;
  }
  .logo span {
    color: var(--main-green);
  }
  .icons-area {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .icons-area :nth-child(2) {
    display: none;
  }
  .basket-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }
  .basket-button svg {
    width: 24px;
    height: 24px;
    color: var(--main-black);
  }
  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    visibility: visible;
    border: none;
    background: none;
    width: 0;
    height: 0;
  }
  .toggle-label {
    display: block;
    visibility: visible;
    width: 46px;
    height: 20px;
    background: #cecdcd;
    border-radius: 200px;
  }
  .toggle-label::after {
    display: block;
    visibility: visible;
    content: '';
    width: 19px;
    height: 19px;
    color: #f6f6f6;
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
  .toggle:checked + .toggle-label::after {
    transform: translateX(26px);
    left: 26px;
  }
  .toggle:checked + .toggle-label {
    background-color: var(--main-green);
  }
  .close-button {
    display: none;
  }
  .close-button-show {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-medium);
    font-size: 12px;
    gap: 16px;
  }
  nav a {
    color: var(--main-black);
    text-decoration: none;
  }
  nav a:hover,
  :active {
    color: var(--main-green);
    transition: color 0.3s ease-in-out;
  }
}
header {
  max-width: 1200px;
  margin: 0 auto;
}
.toggle:checked + .toggle-label::after {
  left: 26px;
}
.toggle:checked + .toggle-label {
  background-color: var(--main-green);
}
